<div class="content">
    <ul class="wfp--breadcrumbs">
        <li class="wfp--breadcrumbs--home wfp--breadcrumbs--step"><span class="icon-home-dark"></span></li>
        <li class="wfp--breadcrumbs--step">My Requests</li>
        <li class="wfp--breadcrumbs--step">Related party disclosure</li>
    </ul>

    <h2>Related party disclosure</h2>
    <blockquote>
        STUFF
    </blockquote>
    <hr>
    <button class="wfp-btn wfp-btn--primary pull-right" data-target="content" data-action="form_related_party_2">See my Disclosure Form</button>
    
</div>