<div class="navbar">
  <header class="wfp-header-int">
    <div class="wfp-grid wfp-wrapper">
     
      <div class="wfp-u-5-5 wfp-u-md-3-3 header--nav">
        <button class="header--toggle" id="js-nav-trigger">Menu</button>
        <nav class="header--menu" id="js-nav">
          <ul class="menu--group">
            <li class="menu--item"><a href="#" class="menu--link badgeable"><i class="fa fa-fw fa-envelope"></i><span class="badge badge-red">1</span></a></li>       
            <li class="menu--item"><a href="#" class="menu--link">Navlink #3</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
</div>