<div class="content">
    <section>
        <h2 class="fill-data" data-content="labels.awaiting_your_action"></h2>
        <table rules="group" class="wfp-table">
            <thead>
                <tr>
                    <th><span class="fill-data" data-content="labels.requestor"></span> <i class="fa fa-fw fa-sort"></i></th>
                    <th><span class="fill-data" data-content="labels.request"></span> <i class="fa fa-fw fa-sort"></i></th>
                    <th><span class="fill-data" data-content="labels.history" data-sorter="false"></span> </th>
                    <th><span class="fill-data" data-content="labels.status"></span> <i class="fa fa-fw fa-sort"></i></th>
                    <th><span class="fill-data" data-content="labels.details" data-sorter="false"></span> </th>
                    <th class="table_cols_actions"><span class="fill-data" data-content="labels.action"></span> </th>
                </tr>
            </thead>
            <tbody class="fill-data-list" data-content="requests_awaiting" >
                <tr class="template">
                    <td class="fill-data-list-item" data-content="requestor"></td>
                    <td>
                        <a href="#">
                            <div class="fill-data-list-item" data-content="request.type"></div>
                            <div class="fill-data-list-item" data-content="request.id"></div>
                        </a>
                    </td>
                    <td>
                        <ul class="fill-data-list-item" data-fill-mode="list" data-content="history">
                            <li class="template wfp-grid">
                                <div class="wfp-u-5-6">
                                    <span class="fill-data-list-item hist_date" data-content="date"></span>
                                    <span class="fill-data-list-item" data-content="author"></span>
                                </div>
                                <div class="wfp-u-1-6 fill-data-list-item message-box"  data-fill-attribute="class" data-content="message"><a href="#"><i class="fa fa-fw fa-envelope"></i></a></div>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <div class="fill-data-list-item status-widget" data-fill-attribute="data-steps|data-done|data-state|data-require_action|data-require_action_msg" data-content="status.steps|status.current|status.state|status.require_action|status.require_action_msg"></div>
                    </td>
                    <td>
                        <ul class="fill-data-list-item" data-fill-mode="list" data-content="details">
                            <li class="template">
                                <div class="fill-data-list-item" data-content="name"></div>
                                <div class="fill-data-list-item" data-content="value"></div>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <div class="inline-actions">
                            <span class="fill-data-list-item" data-fill-mode="list" data-content="actions">
                                <span class="template">
                                    <button class="wfp-btn btn-small xsmall fill-data-list-item modal-trigger" data-modal-title="Confirm" data-modal-content="Confirm" data-modal-confirm="OK" data-modal-mode="confirm" data-fill-attribute="class" data-content="mode" ><span class=" fill-data-list-item"  data-content="name"></span></button>
                                </span>
                            </span>
                            <span>
                                <button class="wfp-btn xsmall other dropdown-trigger closed hidable" data-hidable-mode="use_fill" data-hidable-if-empty="secondary_actions"><i class="fa fa-fw fa-chevron-down"></i></button>
                                <div class="dropdown">
                                  <ul class="menu--group fill-data-list-item" data-fill-mode="list" data-content="secondary_actions">
                                    <div class="template">
                                        <li class="menu--item "><a class=""><span class="fill-data-list-item" data-content="name"></span></a></li>
                                    </div>
                                  </ul>
                                </div>
                            </span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    
    
    <section>
        <h2 class="fill-data" data-content="labels.your_latest_requests"></h2>
        <table rules="group" class="wfp-table">
            <thead>
                <tr>
                    <th><span class="fill-data" data-content="labels.request"></span> <i class="fa fa-fw fa-sort"></i></th>
                    <!--th><span class="fill-data" data-content="labels.submission_date"></span> <i class="fa fa-fw fa-sort"></i></th-->
                    <th><span class="fill-data" data-content="labels.history" data-sorter="false"></span> </th>
                    <th><span class="fill-data" data-content="labels.status"></span> <i class="fa fa-fw fa-sort"></i></th>
                    <th><span class="fill-data" data-content="labels.details" data-sorter="false"></span> </th>
                    <th class="table_cols_actions"><span class="fill-data" data-content="labels.action" data-sorter="false"></span> </th>
                </tr>
            </thead>
            <tbody class="fill-data-list" data-content="requests_latest" >
                <tr class="template">
                    <td>
                        <a class="fill-data-list-item menuitem" data-target="content" data-action="page_my" data-content="request.id" data-fill-attribute="data-action" href="#">
                        <div class="fill-data-list-item" data-content="request.type"></div>
                        <div class="fill-data-list-item" data-content="request.id"></div>
                        </a>
                    </td>
                    <!--td class="fill-data-list-item" data-content="submission_date"></td-->
                    <td>
                        <ul class="fill-data-list-item" data-fill-mode="list" data-content="history">
                            <li class="template">
                                <div class="fill-data-list-item hist_date" data-content="date"></div>
                                <div class="fill-data-list-item" data-content="author"></div>
                                <div class="fill-data-list-item" data-content="message"></div>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <div class="fill-data-list-item status-widget" data-fill-attribute="data-steps|data-done|data-state|data-require_action|data-require_action_msg" data-content="status.steps|status.current|status.state|status.require_action|status.require_action_msg"></div>
                    </td>
                    <td>
                        <ul class="fill-data-list-item" data-fill-mode="list" data-content="details">
                            <li class="template">
                                <div class="fill-data-list-item" data-content="name"></div>
                                <div class="fill-data-list-item" data-content="value"></div>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <div class="fill-data-list-item" data-fill-mode="list" data-content="actions">
                            <div class="template">
                                <button class="wfp-btn btn-medium xsmall fill-data-list-item modal-trigger" data-fill-attribute="class" data-content="mode"  data-modal-title="Confirm" data-modal-content="Confirm" data-modal-confirm="OK" data-modal-mode="confirm"  ><span class=" fill-data-list-item"  data-content="name"></span></button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <button class="wfp-btn btn-small xsmall fill-data-list-item " data-fill-attribute="class" data-content="mode"><span class=" fill-data-list-item fill-data" data-content="labels.view_all"></span></button>

    </section>
</div>