<div class="wpf-menu wpf-sidebar">
    <ul class="menu--group">
        <li data-target="float" data-action="serach" class="menuitem menu--alt">Search <span class="pull-right"><i class="fa fa-fw fa-chevron-right"></i></span></li> 
        <li data-target="content" data-action="home"  class="menuitem active">Home</li>    
        <li data-target="content" data-action="my_requests" class="menuitem" >My Requests</li>    
        <li data-target="content" data-action="approval_requests" class="menuitem" >Approval Requests</li>    
        <li data-target="content" data-action="completed_requests" class="menuitem" >Completed Requests</li>    
        <li data-target="content" data-action=""  class="menu--separator"><hr></li>
        <li data-target="content" data-action="form_categories" class="menuitem">Form Categories</li>
    </ul>
    <ul class="menu--group menu--bottom">
        <li data-target="content" data-action="user_guide" class="menuitem">User Guide</li>    
        <li data-target="content" data-action="hr_manual" class="menuitem">HR Manual</li>    
    </ul>
    <div class="closer">
</div>