<table rules="group" class="wfp-table">
            <thead>
                <tr>
                    <th>Requestor <i class="fa fa-fw fa-sort"></i></th>
                    <th>Request <i class="fa fa-fw fa-sort"></i></th>
                    <th>History <i class="fa fa-fw fa-sort"></i></th>
                    <th>Status <i class="fa fa-fw fa-sort"></i></th>
                    <th>Details <i class="fa fa-fw fa-sort"></i></th>
                    <th>Action </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>HR-015715</td>
                    <td>michele.mercaldo</td>
                    <td>June 26, 2017</td>
                    <td>HR044 - Leave Application</td>
                    <td>Supervisor Acknowledge</td>
                    <td>0</td>
                    <td><i class="fa fa-fw fa-pencil"></i></td>
                </tr>
                <tr>
                    <td>HR-015715</td>
                    <td>raffaele.fabozzi</td>
                    <td>June 26, 2017</td>
                    <td>HR044 - Leave Application</td>
                    <td>Supervisor Acknowledge</td>
                    <td>0</td>
                    <td><button class="wfp-btn--primary">Acknowledge</button><button class="wfp-btn"><span class="icon-chevron-down-dark"></span></button></td>
                </tr>
                <tr>
                    <td>HR-015715</td>
                    <td>raffaele.fabozzi</td>
                    <td>June 21, 2017</td>
                    <td>HR044 - Leave Application</td>
                    <td>Supervisor Acknowledge</td>
                    <td>0</td>
                    <td><button class="wfp-btn--primary">Acknowledge</button></td>
                </tr>
            </tbody>
        </table>