@import '_colors';

.wfp--breadcrumbs{
    display: block;
    padding-left: 0;
    font-size: 1rem;
    
    .wfp--breadcrumbs--home, .wfp--breadcrumbs--step:not(:last-child){
        color: $accent;
    }
    .wfp--breadcrumbs--home:after, .wfp--breadcrumbs--step:not(:last-child):after{
        content:"\0000a0\0000a0\0000a0\0000a0\0000a0>\0000a0\0000a0\0000a0\0000a0\0000a0";
        color: $grey-light;
        font-weight: normal;
    }

    li{
        display: inline-block;

        a{
            text-decoration: none;
            border: none;
            color: $primary;
            &:hover{
                color: $accent;
            }
        }
    }
    
    
}