.dropdown-trigger{
    position:relative;
    cursor:pointer;
    
    .dropdown {
        position:absolute;
        top:45px;
        right: 0;
        background-color: white;
        color: black;
        min-width: 250px;
        padding: 20px 30px;
        box-shadow: 2px 2px 4px #242424;
    }
    & + .dropdown {
        position: absolute;
        background-color: white;
        color: black;
        min-width: 250px;
        padding: 20px 30px;
        box-shadow: 2px 2px 4px #242424;
    }

    &.closed .dropdown, &.closed + .dropdown{
        display:none;
    }
    &.open .dropdown, &.open + .dropdown{
        display: block;
    }
}