@import 'colors';
.wfp-btn {

	margin-bottom: 10px;

	&.btn-wide{
    	width:200px;
    }
    &.btn-medium{
    	width:160px;
    }
    &.btn-small{
    	width:120px;
    }
    &.btn-xsmall{
      width:110px;
    }
   	&.wfp-btn--ghost{
   		border: none;
   		box-shadow: none;
   		&:hover{
   			border: 1px solid rgba(0,0,0,.15);
   			box-shadow: 0 1px 3px rgba(0,0,0,.2);
   			background-color: $background;
    		border-color: $primary;
    		color: $accent;
   		}
   	}
}

.header--menu {
	.wfp-btn {
		border: none;
		box-shadow: none;
        margin: 0;
        &.wfp-btn {
            padding: .4rem .5rem;
        }
        &.wfp-btn--primary {
            background-color: $blue-darker;
            border-color: $blue-dark;
            &:hover {
                background-color: darken($blue-darker, 15%);
                border-bottom-color: $blue-darker;
            }
        }
	}
}
