.request-cell {
  .request-cell-type {
    //font-size: 0.9rem;
  }

  .request-cell-value {}
}

.details-cell {
  margin: 0;
  width: 100%;
  /*@include media-max($md-screen) {
    width: 50% !important;
  }*/
  ul {
    margin: 0;
  }
  li {
    list-style: none;
  }
  .details-cell__value {
    margin-bottom: 0.5em;
    //display: inline-block;
  }
  .details-cell__key {
      font-weight: bold;
      font-size: 0.8em;
      //color: $grey;
      margin-bottom: -0.1em;
      //margin-right: .5rem;
  }
}

.status-cell {
    @include media-max($md-screen) {
        width: 50% !important;
    }
}

.history-cell--list-element {
  list-style: none;
  margin-bottom: 1em;
  clear: left;

  .history-cell-container {
    float: left;
    margin-bottom: 1em;

    span {
      padding-right: 0.25rem;
      padding-left: 0;

      &:last-child {
        padding-right: 0;
      }
    }
  }

  .message-box {
    margin: 0 10px 1em;
    text-align: center;
    float: right;
  }
}

.history-cell-wrapper {
  width: 100%;
  //text-align: center;

  .history-cell-wrapper--viewport {
    display: flex;
    flex: 100 0 auto;
    align-items: flex-start;
    justify-content: space-evenly;
    max-height: none;
    text-align: left;
    overflow: auto;
    // -webkit-transition: max-height 0.2s ease-in-out 0s;
    // transition: max-height 0.2s ease-in-out 0s;
    ul {
      padding: 0;
      display: inline-block;
      width: 100%;
    }
  }

  .message-box {
    margin-top: 7px;
    margin-right: 0;
    margin-left: auto;
  }

  .wfp-link {
    font-size: 0.9rem;
    text-transform: lowercase;
    //margin-left: auto;
    //margin-right: auto;

    span {
      margin-left: 0.1rem;
      font-size: 0.9rem;
    }
  }
}

.limit-height {
  .history-cell-wrapper--viewport {
    max-height: 100px!important;
    overflow: hidden!important;
  }

  .history-cell-wrapper--gradient {
    position: relative;

    &:after {
      content: "";
      display: block;
      height: 25px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: -moz-linear-gradient(top, $gradient-start 0%, $gradient-end 100%);
      background: -webkit-linear-gradient(top, $gradient-start 0%,$gradient-end 100%);
      background: linear-gradient(to bottom, $gradient-start 0%,$gradient-end 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#00ffffff', endColorstr='#ffffff',GradientType=0 );
    }
  }
}

.action-cell {}


@include media-max($md-screen) {
  .ReactTable .rt-td {
    &.status-widget--wrapper {
      padding-top: 1.3em;
      padding-bottom: 1em;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      border-top: 1px solid $grey-lighter;
      border-bottom: 1px solid $grey-lighter;
    }
    &.details--wrapper {
      width: 50% !important;
    }
    &.action--wrapper {
      .action-cell {
        text-align: right;
        width: 100%;
      }
      width: 50% !important;
    }
  }
}