/* COLOR VARIABLES */
// MAIN COLORS
$primary: #2A93FC;
$accent: #1F6EBC;
$text-color: #404040;
$background: #FFFFFF;
// GREYJOYS
$grey-lighterer: #FAFAFA;
$grey-lighter: #E8E8E8;
$grey-light: #BABABA;
$grey: #8C8C8C;
$grey-dark: #5E5E5E;
$grey-darker: #303030;
// BLUES
$blue-lighter: #b2d8fe;
$blue-light: #85c1fd;
$blue: #57aafd;
$blue-dark: #2a93fc;
$blue-darker: #037cf5;
// VARIOUS
$red: #FF5252;
$orange: #FFC759;
$yellow: #FCDC5D;
$green: #00A878;
$black: #000000;
// TABLE COLORS
$gradient-start: rgba(255,255,255,0);
$gradient-end: rgba(255,255,255,1);
