@import 'colors';

.dropdown{
    z-index: 1000;
    padding: 0.5em 0;
    background-color: $background;
    color: $black;
    position:absolute;
    min-width: 250px;
    box-shadow: 2px 2px 4px $grey;

    ul{
        padding: 0;
        margin: 0;
        list-style: none;
        li{
            margin: 0;
            padding: 0;
            display: block;
            a{
                display: block;
                padding: 1em 2em;
                border: none;
                &:hover{
                    background-color: $primary;
                    color: $background;
                }
            }
        }
    }
}


.dropdown-trigger{
    position:relative;
    cursor:pointer;
    .menu--link {
      span {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
      }
    }
    .dropdown {
        top:45px;
        right: 0;
    }
    & + .dropdown {
        padding-top: 0;
        .dropdown--label{
            background-color: $grey-lighterer;
            color: $grey-dark;
            padding: 1em;
        }
    }

    &.closed .dropdown, &.closed + .dropdown{
        display:none;
    }
    &.open .dropdown, &.open + .dropdown{
        display: block;
    }
}
