@import 'colors';

.wfp-filter{
    border:1px solid $grey-lighter;
    margin-bottom: 2rem;

    .accordion-head{
        padding:10px;
        cursor:pointer;
        a{
            border-color: transparent;
        }
    }

    .filter_container{
        padding: 0 2em 1em;
    }

    &.open .wfp-filter--open{
        .accordion-head{
            background-color:$grey-lighterer;
        }
        display:block;
        .title {
          color: $grey-light;
        }
    }
    &.closed .wfp-filter--closed{
        display:block;
        &:hover{
            background-color: $grey-lighterer;
        }
    }

    &.closed .wfp-filter--open{
        display:none;
    }
    &.open .wfp-filter--closed{
        display:none;
    }
}
