/*@media screen and (min-width: 1280px) {
  body {
      font-size: 1.125rem;
  }
}*/

.wfp-wrapper--tight {
	.row {
		max-width: inherit;
	}
}

.simple-box {
	background: $grey-lightest;
	padding: 1em;
	margin-bottom: 0.5em;
	height: 100%;
	p {
		margin-bottom: 0;
	}
}

.simple-box__wrapper {
	margin-top: 1em;
	margin-bottom: 1em;
}

.simple-box--lighter {
	background: $white;
	border: 1px solid $grey-lighter;
}

.heading--normal {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 0.2em;
}