.wfp-form-description {
	padding-bottom: 2rem;

	.heading {
		padding-bottom: 1em;
		font-size: 1.2rem;
		font-weight: bold;
	}

	.title {
		font-size: 1.2rem;
	}

	.description {
		color: $grey;
	}
}
/* Form Request Status */
.wfp-form-manager {
	.form-meta-field {
		.title {
			font-weight: bold;
		}
	}

	.form-meta {
		padding-top: 40px;

		& > div {
			border-left: 1px solid $grey-lighter;
			padding-left: 30px;

			.form-meta-field {
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}
	}
}
.wfp-form-overview {
	.form-meta-row {
		padding-top: 20px;
		padding-bottom: 20px;

		&:not(:last-child) {
			border-bottom: 1px solid $grey-lightest;
		}

		.title {
			display: inline-block;
			width: 200px;
			font-weight: bold;
		}
	}
}

.wfp-form-history {
	.form-history-step {
		margin-left: 15px;
		padding-left: 15px;
		border-left: 5px solid $grey-lighter;
		padding-bottom: 30px;

		.dot {
			width: 20px;
			height: 20px;
			display: inline-block;
			background-color: $grey-lighter;
			margin-left: -27px;
			margin-top: -1px;
			border-radius: 100%;
		}

		.title {
			font-weight: bold;
			color: $grey-lighter;
			padding-left: 20px;
			top: -5px;
			position: relative;
		}

		&.active .title {
			color: $text-color;
		}

		&.active.step-blue .dot {
			background-color: $primary;
		}

		&.next-active {
			&.step-blue {
				border-left-color: $primary;
			}
		}

		.step-details {
			background-color: $grey-lightest;
			margin-bottom: 15px;
			margin-left: 15px;
			padding: 15px;

			div {
				padding-top: 5px;
				padding-left: 25px;
			}

			.sender-img {
				width: 20px;
				height: 20px;
				border-radius: 100%;
				background-color: $grey;
				display: inline-block;
				float: left;
				margin-top: 5px;
			}

			.sender {}

			.message {
				font-weight: bold;
			}
		}
	}
}
/* CURRENCY COMPONENT */
.wfp-form--input-group-currency {
	.wfp-form--input-currency-label {
		display: inline-block;
		border: 1px solid $grey;
		padding: 6px 6px 7px;
		margin: 0;
		background-color: $grey-lighter;
	}

	.wfp-form--input-currency {
		border: 1px solid $grey;
		display: inline-block !important;
		width: 200px!important;
	}

	/* Currency Inputs */
	.currencyinput__wrapper {
		display: flex;
		.Select, input {
			margin-top: 0 !important;
		}
	}
	.currencyinput__select {
		width: 170px;
		margin-right: -1px;
	}
}

.disabled {
	input {
		background-color: $grey-lighter;
		opacity: 0.6 !important;
	}
}

form {
	.wfp-grid {
		padding-bottom: 1rem;
	}

	.single-label {
		vertical-align: bottom !important;
		text-align: left;
	}
}

.wfp-form-list {
	&.selected-topics .wfp-form-list--topics {
		display: block;
	}

	&.selected-az .wfp-form-list--az {
		display: block;
	}

	&.selected-az .wfp-form-list--topics {
		display: none;
	}

	&.selected-topics .wfp-form-list--az {
		display: none;
	}
}

.wfp-form--actions {
	width: 100%;
	text-align: right;

	display: flex;
	flex: 1 0 auto;
	align-items: center;


	button {
		margin-left: auto;
		margin-right: 1rem;
		cursor: pointer;
	}
	[type="submit"] {
		cursor: pointer;
	}
}

.wfp-box--flat-padded {
	margin-bottom: 2rem !important;
}

.wfp-form--aligned legend {
	border: none !important;
}
/* BEHAVIOURS */
.wfp-form--behalf {
	.wfp-form--behalf--input {
		display: block;
	}

	&.close {
		.wfp-form--behalf--input {
			display: none;
		}
	}
}

select:invalid {
	color: $grey;
}

/* FILTER PANEL */
.wfp-form--stacked {
	input:not([type]) {
		border: none !important;
		box-shadow: none !important;
	}
}


.wfp-form__required-description {
		padding: 0.5em;
		margin-bottom: 1em;
		background: lighten($orange,15);
}

/* Label Attachments */

.label--required {
	&:after {
		/*color: $red;
		font-size: 1.3em;
		margin-top: -0.8em;
		margin-bottom: -0.7em;
		font-weight: bold;
		content: "*";
		display: inline-block;*/
	}
}

/* Wizard Navigation */

.wfp-wizard {
	margin: 2em 0;
	display: flex;
	justify-content: space-between;
}

 .wfp-wizard--alignleft {
	justify-content: flex-start;
	>button {
		margin-right: 1em;
	}
 }

 .wfp-wizard__save {
 	margin-right: 1em;
 }

 .wfp-wizard-actions {
		justify-content: flex-end;
		button {
			margin-left: 1em;
		}
 }

.wfp-form--group--seperate {
	border-bottom: 1px solid $grey-lighter;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
}

.wfp-form--group--seperatesmall {
	border-bottom: 1px solid $grey-lighter;
	padding-bottom: 1em;
	margin-bottom: 1em;
}

.wfp-form--group--horizontal {
	display: flex;
	margin-top: 0.75em;
	margin-bottom: 0.75em;
	align-items: center;
	label {
		width: 50%;
		max-width: 10rem;
	}
}

.wfp-form--group--wide {
	@extend .wfp-form--group--horizontal;
	label {
		max-width: 20rem;
	}
}

.wfp-form--group__title {
	font-size: 1.15em;
	//font-weight: normal;
	margin-bottom: 0.5em;
}

.wfp-form--group__inputfield {
	display: flex;
	flex-wrap: wrap;
	>div {
		width: 25%;
		white-space: nowrap;
	}
}

/* Static input unchangeable */

.wfp-staticinput {
	width: 50%;
	padding: 0.5rem;
	border-left: 5px solid $grey-light;
	background: $grey-lightest;
	&.empty {
		color: $grey-lighter;
	}
}

.wfp-form--group__hint {
	padding: 0.5rem;
	margin: 0.5em 0;
	border-left: 5px solid $primary;
	background: $grey-lightest;
}

/* Form List */

.wfp-form__list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}



/* Checkbox */

.checkbox__wrapper {
    input[type=checkbox] {
        //vertical-align: inherit !important;
    }
    label {
        width: calc(100% - 70px);
    }
}

/* Dropzone */

.dropzone__select {
	cursor: pointer;
}

.dropzone__list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.dropzone__view {
	margin-left: 0.3em;
}

.dropzone__clear {
	margin-left: 0.3em;
}

/* User Select */

.userselect__wrapper {
	margin-top: 0.25em;
}

.userselect__select {
	.Select-control {
		overflow: visible;
	}
    &.has-value {
        margin-bottom: 3rem;
    }
}

.userselect__value__text {
	overflow: hidden;
    .readonly & {
        background: $grey-lighter;
        font-weight: bold;
        padding: 0.6em 0.8em 0 0.8em;
    }
    .readonly--inline & {
    	padding: 0;
    	background: none;
    }
}

.userselect__value {
	overflow: visible !important;
}

.userselect__value__extended {
		display: flex;
		align-items: center;
		font-size: 0.8em;
		background: $grey-lighter;
		margin-left: -11px;
		margin-right: -46px;
		margin-top: 1px;
		line-height: 1.3;
		padding: 0.6em 0.8em;
        .readonly & {

            margin: 0;
        }
        .readonly--inline & {
        	background: none;
	    	padding: 0;
	    }
		img {
			height: 2.6em;
			width: 2.6em;
            background: $white;
			border-radius: 100px;
			float: left;
			margin-right: 0.8em;
		}
		span {
			display: block;
			font-weight: normal;
		}
}

/* Main Error */

.main-error {
	position: relative;
	background-color: $grey-lightest;
	padding: 0.5rem 1rem;
	border-left: 6px solid $orange;
	border-radius: 2px;
	line-height: 1.4;
	margin: 1rem 0;
	ul {
		margin-bottom: 0;
	}
	/*&:before {
		font-family: FontAwesome;
		position: absolute;
		height: 100%;
		font-size: 2rem;
		content: "\f071";
		top: 50%;
		left: 0;
		pointer-events: none;
		margin: 0 0.5em;
		margin-top: -0.18em;
		line-height: 1rem;
		color: darken($orange,20);
	}*/
}

.main-error__title {
	font-size: 1em;
}

/* Select Element */

.select-simple {
	&.invalid {
	select {
			border-color: $orange;
			margin-bottom: 0;
		}
	}
}

/* Info */

.info__trigger {
    display: inline-block;
    font-size: 1.2em;
    position: relative;
    cursor: pointer;
    top: 0em;
    margin-left: 0.3em;
    margin-right: 0.3em;
   &:after {
        font-family: FontAwesome;
        content: "\f05a";
        color: $primary;
    }
}

.info__large-trigger {
    font-size: 1rem;
    margin-left: 1em;
    cursor: pointer;
    letter-spacing: 0;
    vertical-align: bottom;
}

/* Narrow Form */

.wfp-form--narrow {
    margin: auto;
    input {
        max-width: 800px;
    }
}

.field--read-only {
	display: flex;
	align-items: center;
	label {
		width: 15%;
		font-weight: bold;
	}
	input {
		border: 0;
	}
}

/* Banking Dialog Input */

.banking-dialog-input {
	display: flex;
	align-items: stretch;
}

.banking-dialog-input__selected {
	background: $grey-lighter;
	width: 75%;
	max-width: 300px;
	margin-right: 0.5em;
	font-size: 0.75em;
	padding: 0.5em 0.7em 0 0.7em;
	vertical-align: top;
	b {
		display: block;
		margin-bottom: -0.1em;
	}
	span {
		display: block;
		font-size: 0.8em;
	}
}

.banking-dialog-input__selected--no-bank {
	font-size: 1em;
}

.form__extent {
	margin-top: -0.5em;
	margin-bottom: -3em;
}