/* styles for the grid and gridheading react components */

.gridheading {
    letter-spacing: 0.03rem;
    padding-bottom: 3.5rem;

    i,
    span[class^="icon-"] {
        font-size: 1.5rem;
    }
}

.wfp-form-description {
    padding-bottom: 3em;

    .heading {
        font-size: 1.7rem;
        padding-bottom: 0;
    }

    .wfp-form-description--item {
        padding-bottom: 2rem;
    }

    .title {
        font-size: 1.5rem;

        a {
            color: $primary;
        }
    }

    .description {
        color: $grey-dark;
        font-size: 1rem;
        margin-top: 0.2rem;
    }

    > div {
        margin-left: 3rem;
    }
}