nav .img {
  display: inline;
  height: 32px;
  width: 32px;
  margin: 0 5px 0 10px;

  &.img-round {
    border-radius: 100%;
  }
}

.wfp-header-super {
  background-color: $blue-darker;
  line-height: 2rem;
  text-align: right;

  ul {
    width: 100%;
    margin: 0;
  }

  li {
    display: inline-block;
    padding-left: 1rem;
    margin: 0;
  }

  .wfp-grid.wfp-wrapper.wfp-overbar {
    a.menu--link {
      outline: 0;
      color: $white;
      text-decoration: none;
      border-bottom-color: transparent;
      font-size: .875rem;
      padding: 0 .25em;

      &:focus,
      &:hover {
        color: $white;
        border-bottom-color: $white;
      }
    }
  }
}

.wfp-header-int {
  .header--toggle {
    cursor: pointer;
  }

  .header--menu {
    z-index: 3;

    .memu--link {}
  }
}

a.header--logo {
  color: $white !important;
}
