@import 'colors';

.wfp-header-int {
	.header--search{
		input.header--input{
			width: 180px;
			background-color: $background;
			color: $accent;
			outline: 0;
			text-align: left;
			&::placeholder{
				text-align: left;
				color: $grey;
			}
		}
		&::before{
			background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KPHBhdGggZmlsbD0iIzIzMjMyMyIgZD0iTTE1LjUgMTRoLTAuNzk1bC0wLjI3NS0wLjI3NWMwLjk4LTEuMTM1IDEuNTctMi42MSAxLjU3LTQuMjI1IDAtMy41OS0yLjkxLTYuNS02LjUtNi41cy02LjUgMi45MS02LjUgNi41IDIuOTEgNi41IDYuNSA2LjVjMS42MTUgMCAzLjA5MC0wLjU5IDQuMjI1LTEuNTY1bDAuMjc1IDAuMjc1djAuNzlsNSA0Ljk5IDEuNDktMS40OS00Ljk5LTV6TTkuNSAxNGMtMi40ODUgMC00LjUtMi4wMTUtNC41LTQuNXMyLjAxNS00LjUgNC41LTQuNSA0LjUgMi4wMTUgNC41IDQuNS0yLjAxNSA0LjUtNC41IDQuNXoiLz4KPC9zdmc+Cg==");
			z-index: 3;
			opacity: 0.4;
		}
	}
}


.closer{
    color:rgba(0,0,0,.3);
    cursor: pointer;
    font-size: 2em;
    top: 0.6em;
    position: absolute;
    right: 1em;
}