@import 'colors';


/* FOUND IN THE GUIDELINE DOCUMENTATION, NOT IN THE WFP UI */

.box{
    background-color: $grey-lighterer;
    padding: .5rem 1rem;
    border-left: 6px solid $grey;
    border-radius: 2px;
    line-height: 1.6;
    margin: 1rem 0;

    &::last-child{
      border-right: 0;
    }
    &>* {
      margin: 0 0 .25rem;
      font-size: .8rem;
      padding: 0.5rem 0;
    }
    h2{
      font-size: 1rem;
    }

    &.notice{
      border-left-color: $yellow;
    }
    &.info{
      border-left-color: $primary;
    }
    &.alert{
      border-left-color: $red;
    }
    &.separator{
      border-left-color: $background;
    }
    &.note{
      background-color: $background;
      font-size: .7rem;
      color: $grey-dark;
    }
}




// Component: Forms
// Project: WFPUI



// Content-aware input type hint template
%input-tip {
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 0.875em;
  display: block;
  height: 16px;
  pointer-events: none;
  font-size: 0.75em;
  color: $grey;
  text-align: right;
}

// Box-like input template for radios and checkboxes
%inputbox {
  -moz-appearance: checkbox;
  -webkit-appearance: none;
  display: inline-block;
  border: 0;
  margin-right: 0.25em;
  margin-bottom: 3px;
  width: 24px;
  height: 24px;
  padding: 0;
  vertical-align: middle;
  transition: 0.15s background ease-in;

  &.disabled,
  &:disabled
  &[disabled] {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &:focus {
    outline: 1px auto $blue-dark;
  }

  & + label {
    display: inline-block;
  }
}

%select-arrow {
  background-repeat: no-repeat;
  background-position: right center;
  background-color: $grey-lighterer;
}

@mixin input($type) {
  @if $type == common {
    -webkit-appearance: none;
    display: inline-block;
    padding: 0.5em;
    border: 1px solid $grey-light;
    border-radius: 1px;
    box-shadow: inset 0 1px 3px rgba($black, 0.1);
    font-size: 100%;
    line-height: 1.5;
    vertical-align: baseline;
    transition: 0.3s linear border;

    &:focus {
      outline: 0;
      border-color: $blue-light;

      &:invalid {
        border-color: $orange;

        &:focus {
          border-color: $orange;
        }
      }
    }

    &:required:invalid,
    &.invalid {
      margin-bottom: -1px;
      border-color: $orange;

      + .error {
        border-radius: 0 0 2px 2px;
      }
    }

    &.valid {
      border-color: desaturate(lighten($green, 25%), 55%);
    }

    &[disabled],
    &:disabled {
      cursor: not-allowed;
      opacity: 0.4;
    }

    &[readonly] {
      // Read-only state
      background: $grey-lighterer;
      color: $grey-dark;
      border-color: $grey-lighter;
    }
  } @else if $type == checkbox {
    @extend %inputbox;

    &:checked {
    }
  } @else if $type == radio {
    @extend %inputbox;

    &:checked {
    }
  } @else if $type == label {
    display: block;
    margin: 0.25em 0;
    font-size: 100%;
    line-height: 1.5;
    vertical-align: baseline;
  } @else if $type == select {
    @extend %select-arrow;
    -webkit-appearance: none;
    // Firefox 22 fix
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: "";
    display: inline-block;
    padding: 0.4em 0.75em;
    padding-right: 2.25em;
    border: 1px solid $grey-light;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba($black, 0.1);
    font-size: 100%;
    line-height: 1.5;
    vertical-align: baseline;
    transition: 0.3s linear border;
    position: relative;

    // Hide redundant select expand button in IE11
    &::-ms-expand {
      display: none;
    }

    &:focus {
      outline: 0;
      border-color: $blue-light;
    }

    &[disabled],
    &:disabled {
      cursor: not-allowed;
      opacity: 0.4;
    }

    &[readonly] {
      // Read-only state
      background: $grey-light;
      color: $grey-darker;
      border-color: $grey-light;
    }

    &[multiple] {
      height: auto;
    }
  } @else if $type == textarea {
    -webkit-appearance: none;
    display: block;
    width: 100%;
    min-height: 8em;
    padding: 0.5em;
    font-size: 100%;
    border: 1px solid $grey-light;
    border-radius: 1px;
    box-shadow: inset 0 1px 3px rgba($black, 0.1);
    line-height: 1.562;
    vertical-align: baseline;
    transition: 0.3s linear border;

    &.small {
      max-width: 262px;
      min-height: 6em;
    }

    &.large {
      max-width: 424px;
      min-height: 10em;
    }

    &:focus {
      outline: 0;
      border-color: $blue-light;

      &:invalid {
        border-color: $orange;

        &:focus {
          border-color: $orange;
        }
      }
    }

    &:required:invalid,
    &.invalid {
      margin-bottom: -1px;
      border-color: $orange;

      + .error {
        border-radius: 0 0 2px 2px;
      }
    }

    &.valid {
      border-color: $green;
    }

    &[disabled],
    &:disabled {
      cursor: not-allowed;
      opacity: 0.4;
    }

    &[readonly] {
      // Read-only state
      background: $grey-lighterer;
      color: $grey-dark;
      border-color: $grey-lighter;
    }
  }
}

%wfp-form,
.wfp-form {
  margin: 1rem 0;

  // All common elements
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="url"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="week"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  input:not([type]) {
    @include input(common);
  }

  // Fieldset
  fieldset {
    margin: 0.25em 0;
    padding: 0;
    border: 0;
    display: block;
  }

  legend {
    display: block;
    width: 100%;
    padding: 0.5em 0;
    margin-bottom: 0.25em;
    color: $text-color;
    border-bottom: 1px solid $grey-light;
  }

  // Labels
  label {
    @include input(label);

    ~ label {
      margin: 0.25em 0;
    }
  }

  // Select boxes
  select { @include input(select); }

  // Checkboxes and radios
  input {
    &[type="checkbox"] { @include input(checkbox); }
    &[type="radio"] { @include input(radio); }
  }

  // Textarea
  textarea {
    @include input(textarea);
  }

  &.wfp-checkbox,
  &.wfp-radio {
    margin: 0.5em 0;
  }

  .error {
    color: desaturate(darken($orange, 55%), 15%);
    display: inline-block;
    background-color: $orange;
    padding: 0.25em 0.5em;
    margin: 0;
    font-size: 0.875em;
  }
}

.wfp-form--stacked {
  @extend %wfp-form;

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="url"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="week"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  input:not([type]),
  textarea,
  select {
    display: block;
    margin: 0.25em 0;
    width: 100%;
  }
}


.wfp-form--actions {
  padding: 0.5em 0;
}

.wfp-form--msg {
  display: inline-block;
  margin: 0.5em 0;
  font-size: 0.875em;
  font-style: italic;
  color: $grey-darker;
  vertical-align: baseline;
}






/* ------- */


.wfp-form-aligned {
  @extend %wfp-form;

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="url"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="week"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  input:not([type]),
  textarea,
  select {
    display: block;
    margin: 0.25em 0;
    width: 100%;
  }
}



.wfp-form--aligned input,
.wfp-form--aligned textarea,
.wfp-form--aligned select,
.wfp-form-message-inline {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
}
.wfp-form--aligned textarea {
    vertical-align: top;
}

.wfp-form--aligned .wfp-control-group {
    margin-bottom: 0.5em;
}
.wfp-form--aligned .wfp-control-group label {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 10em;
    margin: 0 1em 0 0;
}
.wfp-form--aligned .wfp-controls {
    margin: 1.5em 0 0 11em;
}

/* TO DO MOVE INTO UI */


@media screen and (min-width: 12em) {
    .wfp-u-xs-1,
    .wfp-u-xs-1-1,
    .wfp-u-xs-1-2,
    .wfp-u-xs-1-3,
    .wfp-u-xs-2-3,
    .wfp-u-xs-1-4,
    .wfp-u-xs-3-4,
    .wfp-u-xs-1-5,
    .wfp-u-xs-2-5,
    .wfp-u-xs-3-5,
    .wfp-u-xs-4-5,
    .wfp-u-xs-5-5,
    .wfp-u-xs-1-6,
    .wfp-u-xs-5-6,
    .wfp-u-xs-1-8,
    .wfp-u-xs-3-8,
    .wfp-u-xs-5-8,
    .wfp-u-xs-7-8,
    .wfp-u-xs-1-12,
    .wfp-u-xs-2-12,
    .wfp-u-xs-3-12,
    .wfp-u-xs-4-12,
    .wfp-u-xs-5-12,
    .wfp-u-xs-6-12,
    .wfp-u-xs-7-12,
    .wfp-u-xs-8-12,
    .wfp-u-xs-9-12,
    .wfp-u-xs-10-12,
    .wfp-u-xs-11-12,
    .wfp-u-xs-12-12,
    .wfp-u-xs-1-24,
    .wfp-u-xs-2-24,
    .wfp-u-xs-3-24,
    .wfp-u-xs-4-24,
    .wfp-u-xs-5-24,
    .wfp-u-xs-6-24,
    .wfp-u-xs-7-24,
    .wfp-u-xs-8-24,
    .wfp-u-xs-9-24,
    .wfp-u-xs-10-24,
    .wfp-u-xs-11-24,
    .wfp-u-xs-12-24,
    .wfp-u-xs-13-24,
    .wfp-u-xs-14-24,
    .wfp-u-xs-15-24,
    .wfp-u-xs-16-24,
    .wfp-u-xs-17-24,
    .wfp-u-xs-18-24,
    .wfp-u-xs-19-24,
    .wfp-u-xs-20-24,
    .wfp-u-xs-21-24,
    .wfp-u-xs-22-24,
    .wfp-u-xs-23-24,
    .wfp-u-xs-24-24 {
        display: inline-block;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .wfp-u-xs-1-24 {
        width: 4.1667%;
    }

    .wfp-u-xs-1-12,
    .wfp-u-xs-2-24 {
        width: 8.3333%;
    }

    .wfp-u-xs-1-8,
    .wfp-u-xs-3-24 {
        width: 12.5000%;
    }

    .wfp-u-xs-1-6,
    .wfp-u-xs-2-12,
    .wfp-u-xs-4-24 {
        width: 16.6667%;
    }

    .wfp-u-xs-1-5 {
        width: 20%;
    }

    .wfp-u-xs-5-24 {
        width: 20.8333%;
    }

    .wfp-u-xs-1-4,
    .wfp-u-xs-3-12,
    .wfp-u-xs-6-24 {
        width: 25%;
    }

    .wfp-u-xs-7-24 {
        width: 29.1667%;
    }

    .wfp-u-xs-1-3,
    .wfp-u-xs-4-12,
    .wfp-u-xs-8-24 {
        width: 33.3333%;
    }

    .wfp-u-xs-3-8,
    .wfp-u-xs-9-24 {
        width: 37.5000%;
    }

    .wfp-u-xs-2-5 {
        width: 40%;
    }

    .wfp-u-xs-5-12,
    .wfp-u-xs-10-24 {
        width: 41.6667%;
    }

    .wfp-u-xs-11-24 {
        width: 45.8333%;
    }

    .wfp-u-xs-1-2,
    .wfp-u-xs-6-12,
    .wfp-u-xs-12-24 {
        width: 50%;
    }

    .wfp-u-xs-13-24 {
        width: 54.1667%;
    }

    .wfp-u-xs-7-12,
    .wfp-u-xs-14-24 {
        width: 58.3333%;
    }

    .wfp-u-xs-3-5 {
        width: 60%;
    }

    .wfp-u-xs-5-8,
    .wfp-u-xs-15-24 {
        width: 62.5000%;
    }

    .wfp-u-xs-2-3,
    .wfp-u-xs-8-12,
    .wfp-u-xs-16-24 {
        width: 66.6667%;
    }

    .wfp-u-xs-17-24 {
        width: 70.8333%;
    }

    .wfp-u-xs-3-4,
    .wfp-u-xs-9-12,
    .wfp-u-xs-18-24 {
        width: 75%;
    }

    .wfp-u-xs-19-24 {
        width: 79.1667%;
    }

    .wfp-u-xs-4-5 {
        width: 80%;
    }

    .wfp-u-xs-5-6,
    .wfp-u-xs-10-12,
    .wfp-u-xs-20-24 {
        width: 83.3333%;
    }

    .wfp-u-xs-7-8,
    .wfp-u-xs-21-24 {
        width: 87.5000%;
    }

    .wfp-u-xs-11-12,
    .wfp-u-xs-22-24 {
        width: 91.6667%;
    }

    .wfp-u-xs-23-24 {
        width: 95.8333%;
    }

    .wfp-u-xs-1,
    .wfp-u-xs-1-1,
    .wfp-u-xs-5-5,
    .wfp-u-xs-12-12,
    .wfp-u-xs-24-24 {
        width: 100%;
    }
}


