<div class="content">

   <ul class="wfp--breadcrumbs">
      <li class="wfp--breadcrumbs--home wfp--breadcrumbs--step"><a href="/"><i class="fa fa-fw fa-home"></i> <span class="fill-data" data-content="labels.home"></span></a></li>
      <li class="wfp--breadcrumbs--step"><a href="/"><span class="fill-data" data-content="labels.create_a_request"></span></a></li>
      <li class="wfp--breadcrumbs--step"><span class="fill-data" data-content="form['IPSAS-20'].fields.title"></span></li>
   </ul>
   <section class="wfp-form-container">
      <div class="wfp-grid">

         <div class="wfp-u-1-6 wfp-hidden-lg">

         </div>
         <div class="wfp-u-2-3 wfp-u-md-1-1">
            <h2><span class="fill-data" data-content="form['IPSAS-20'].fields.title"></span> (<span class="fill-data" data-content="form['IPSAS-20'].fields.id"></span>)</h2>
            
            <!-- FORM START -->
            <div class=" wfp-form--aligned wfp-form--stacked">
            
               <form>
                  
                  <div class="wfp-u-1">
                  <!-- TEXT CONTENT START -->

                     <p>The IPSAS-20 "<span class="hilight">Related Party Disclosures</span>" standard requires the disclosure of specific financial information on related parties.</p>

                     <p>The standard defines various entities and individuals as related parties and sets out the disclosures required in respect of those parties, including the compensation of key management personnel.</p>

                     <p>This information has been disclosed in the WFP Financial Statements since IPSAS adoption at WFP and is now being requested for the 2016 Financial Statements.</p>

                     <p>Related parties can include <span class="tooltip-symbol"><a href="#" class="dropdown-trigger closed" data-target="dropdown-target">key management personnel</a></span> and <span class="tooltip-symbol"><a href="#">close family members</a></span>.</p>

                     <div class="wfp-grid dropdown-target">

                        <div class="box info wfp-u-1-2">
                           <h2>Key management personnel</h2>
                           <p>Key management personnel are defined under IPSAS as those officials who are responsible for the planning, directing and controlling activities of the entity. WFP includes the Executive director, the Deputy executive director and Assistance executive directors into the key management personnel group and includes all Regional directors and Divisional directors in HQ into the other senior management personnel group.</p>
                        </div>
                        <div class="box separator wfp-u-1-2">
                           <h2>Close family members</h2>
                           <p>Close family members of key management personnel and other senior management personnel include spouse, domestic partner, child and other relatives of the individual or members of the individual’s immediate family. Information regarding close family members who are employed by WFP is included in the disclosure.</p>
                        </div>
                     </div>
                     <p>As per the regular year-end accounts closure process, you are requested to confirm your 2016 monetary compensation, including your close family member(s).</p>

                     <p>The information you provide will be treated on a strictly confidential basis and it will be disclosed on an aggregated level as part of the Notes to WFP 2016 Financial Statements.</p>

                     <p>The deadline to complete this exercise is by <span class="hilight">3 February 2017</span>.</p>


                  <!-- TEXT CONTENT END -->
                  </div>

                  <div class="wfp-u-1">
                     <p><span class="faint">Place your mouse or tap on <span class="tooltip-symbol">underlined words</span> for definitions.</span></p>
                  </div>
                  <div class="wfp-form--actions">
                     <button class="wfp-btn wfp-btn--primary btn-wide fill-data mock-navigation" data-target="content" data-content="form['IPSAS-20'].fields.see_the_disclosure_form" data-action="form_IPSAS20_2"></button>
                  </div>
               </form>
            </div>
            <!-- FORM END -->

         </div>
         <div class="wfp-u-1-6 wfp-hidden-lg">

         </div>
      </div>
   </section>

</div>