{% load static %}

<div class="navbar">
  <header class="wfp-header-super">
    <div class="wfp-grid wfp-wrapper wfp-overbar">
      <div class="wfp-u-1-1">
        <button class="header--toggle header--btn wfp-visible-xs dropdown-trigger closed">WFP Websites</button>
        <nav class="wfp-header--menu wfp-hidden-xs dropdown">
          <ul class="menu--group">
            <li class="menu--item"><a href="http://communities.wfp.org" class="menu--link" target="_blank">WFP Communities</a></li>
            <li class="menu--item"><a href="http://opweb.wfp.org" class="menu--link" target="_blank">OPweb</a></li>
            <li class="menu--item"><a href="http://docustore.wfp.org" class="menu--link" target="_blank">Docustore</a></li>
            <li class="menu--item"><a href="http://manuals.wfp.org/" class="menu--link" target="_blank">WFP Manuals</a></li>
            <li class="menu--item"><a href="http://newgo.wfp.org/" class="menu--link" target="_blank">WFPgo</a></li>
          </ul>
        </nav>
        <nav class="wfp-header--menu wfp-hidden-xs">
          <ul class="menu--group ">
            <li class="menu--item"><a href="http://communities.wfp.org" class="menu--link" target="_blank">WFP Communities</a></li>
            <li class="menu--item"><a href="http://opweb.wfp.org" class="menu--link" target="_blank">OPweb</a></li>
            <li class="menu--item"><a href="http://docustore.wfp.org" class="menu--link" target="_blank">Docustore</a></li>
            <li class="menu--item"><a href="http://manuals.wfp.org/" class="menu--link" target="_blank">WFP Manuals</a></li>
            <li class="menu--item"><a href="http://newgo.wfp.org/" class="menu--link" target="_blank">WFPgo</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <header class="wfp-header-int">
    <div class="wfp-grid wfp-wrapper">
      <div class="wfp-u-1 wfp-u-lg-1-5 wfp-u-md-1-4 header--container">

        <h1 class="header--title menuitem" data-target="content" data-action="page_home">
          <a href="/" class="header--logo">WFP Self-Service</a>
        </h1>

      </div>
      <div class="wfp-u-1 wfp-u-lg-4-5 wfp-u-md-3-4 header--nav">
        <nav class="header--menu">
          <ul class="menu--group">
            <li class="menuitem menu--item" data-target="content" data-action="page_my">
              <a href="{% url 'my' %}" class="menu--link fill-data" data-content="labels.my_requests"></a>
            </li>
            <li class="menuitem menu--item" data-target="content" data-action="page_incoming">
              <a href="{% url 'incoming' %}" class="menu--link fill-data" data-content="labels.incoming_requests"></a>
            </li>
            <li class="menuitem menu--item" data-target="content" data-action="page_create">
              <button id="main-cta" class="wfp-btn fill-data-list-item wfp-btn--primary"
                      data-fill-attribute="class" data-content="mode"
                      href="{% url 'create' %}">
                <span class=" fill-data-list-item fill-data"
                      data-content="labels.create_a_request">

                </span>
              </button>
            </li>

            <li class="menu--item">
              <div class="header--search">
                <input type="search" class="header--input mousetrap" id="search" placeholder="Find a form">
              </div>

            </li>


            <li class="menu--item dropdown-trigger closed">
              <a class="menu--link no-underline">
                <img src="" data-content="user.picture" data-fill-attribute="src" class="img img-round fill-data">
                <span class="fill-data wfp-visible-xl" data-content="user.name"></span>
                <!--i class="fa fa-fw fa-chevron-down"></i-->
              </a>
              <div class="dropdown">
                <ul class="menu--group">
                  <li class="menu--item"><a class="">Sign Out</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>

  </header>
</div>

<script src="{% static 'prototype/scripts/navbar.js' %}"></script>
