<div class="content">
    <ul class="wfp--breadcrumbs">
        <li class="wfp--breadcrumbs--home wfp--breadcrumbs--step"><span class="icon-home-dark"></span></li>
        <li class="wfp--breadcrumbs--step">My Requests</li>
        <li class="wfp--breadcrumbs--step">Related party disclosure</li>
    </ul>

    <h2>Related party disclosure</h2>
    <blockquote class="mode-info">
        Dear Colleague,<br>
        You are requested to <b>confirm</b> your monetary compensation inculding your close family member(s) as disclosed in tems 1 and 3 respectively and <b>provide</b> any additional informatio for items 2 and 4 in the form, if applicable.<br>
        The information uyou
    </blockquote>
    <section>
                <!-- filter -->
        <div class="wfp-filter open">
            <div class="wfp-filter--closed">
                <div class="accordion-head">
                    <span class="title">My Information</span><span class="pull-right"><i class="fa fa-fw fa-chevron-down"></i></span>
                </div>
            </div>
            <div class="wfp-filter--open">
                <div class="accordion-head">
                    <span class="title">My Information</span><span class="pull-right"><i class="fa fa-fw fa-chevron-up"></i></span>
                </div>
                <div class="wfp-grid container">
                    <div class="wfp-u-1-2"> 
                        <div class="name">MARINA SABRINA CRUZ</div>
                        <div class="role">Finance Consultant</div>
                        <div class="comp">RMFP</div>
                    </div>
                    <div class="wfp-u-1-2"> 
                        <div class="name">STATUS</div>
                        <div class="tatus" data-status=""></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   <form class="wfp-form wpf-form--stacked">
        <section>
           <div>1 -  Monetary Compensation* </div>
           <div class="wfp-form--input-group disabled">
               <div class="wfp-form--input-decoration">EUR</div>
               <input type="text" disabled value="123.456,78">
           </div>
           <div class="help">
               <a href="#">View Statement</a>
           </div>
        </section>
        <section>
           <div>2 - Non-monetary compensation </div>
            <input type="text">
           <div class="help">
           </div>
        </section>
        <section>
           <div>3 - Compensation of close family members employed by WFP, if applicable* </div>
           <div class="wfp-form--input-group disabled">
               <div class="wfp-form--input-decoration">EUR</div>
               <input type="text" disabled>
           </div>
           <div class="help">
               <a href="#">View Statement</a>
           </div>
           
           <p>The compensation of your close family member8s) already declared or registered is reported. If any addition, please provide name(s) and index number(s) in the box below.</p>
               <input type="text">
           <div class="help">
           </div>
        </section>
        <section>
           <div>4 - Other Disclosures </div>
           <p>Please list them below, if any, and the corresponding amounts</p>
               <input type="text">
           <div class="help">
           </div>
        </section>
        <section>
            <label><input type="checkbox" name="correctness" value="correct">This is to certify that the above information is correct</label>
        </section>
        <section class="help-gray">
            * required field
        </section>
    </form>
    <hr>
    <button class="wfp-btn wfp-btn--primary wide pull-right" data-target="content" data-action="">Submit</button>
    <button class="wfp-btn wide pull-right" disabled data-target="content" data-action="">Save changes</button>
    
</div>