<div class="content">

    <ul class="wfp--breadcrumbs">
        <li class="wfp--breadcrumbs--home wfp--breadcrumbs--step"><a href="/"><i class="fa fa-fw fa-home"></i> <span class="fill-data" data-content="labels.home"></span></a></li>
        <li class="wfp--breadcrumbs--step"><span class="fill-data" data-content="labels.my_requests"></span></li>
    </ul>

    <section>
        <h2><span class="fill-data" data-content="labels.my_requests"></span></h2>

        <!-- FILTER START -->

        <div class="wfp-filter closed">
            <div class="wfp-filter--closed">
                <div class="accordion-head">
                    <a>
                        <span class="title fill-data" data-content="labels.show_filters"></span>
                        <span class="pull-right">
                            <i class="fa fa-fw fa-chevron-down"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="wfp-filter--open">
                <div class="accordion-head">
                    <a>
                        <span class="title fill-data" data-content="labels.hide_filters"></span>
                        <span class="pull-right">
                            <i class="fa fa-fw fa-chevron-up"></i>
                        </span>
                    </a>
                </div>

                <div class="wfp-form--stacked container">
                    <form class="font-medium">
                       <div class="wfp-grid">
                          <div class="wfp-u-1 wfp-u-md-1-2 wfp-box--flat">
                            <label class="fill-data" for="form-name" data-content="labels.form"></label>
                            <select id="form-name">
                                <option value="0" selected="">All form types</option>
                                <option disabled>──────────</option>
                             <optgroup label="Filter by form type">
                                <option value="1">[HR044] Certificate of attendance and statement of school expenditures</option>
                                <option value="2">[HR044] Leave Application</option>
                             </optgroup>
                            </select>
                          </div>
                          <div class="wfp-u-1 wfp-u-md-1-2 wfp-box--flat">
                            <label class="fill-data" for="status" data-content="labels.status"></label>
                            <select id="status">
                                <option value="0" selected="">All status</option>
                                <option disabled>──────────</option>
                             <optgroup label="Filter by status">
                                <option value="1">Saved draft</option>
                                <option value="2">Submitted</option>
                                <option value="3">Supervisor acknowledge</option>
                                <option value="4">Approved</option>
                                <option value="5">Sent back</option>
                                <option value="6">Rejected</option>
                             </optgroup>
                            </select>
                          </div>
                        </div>
                        <div class="wfp-grid">
                            <div class="wfp-u-1 wfp-u-md-1-2 wfp-box--flat">
                                <div class="wfp-grid">
                                    <div class="wfp-u-1-3 wfp-box--flat">
                                        <label class="fill-data" data-content="labels.creation_date"></label>
                                    </div>
                                    <div class="wfp-u-1-3 wfp-box--flat pl0">
                                        <label><span class="fill-data" for="from-date" data-content="labels.from"></span><span class="required-symbol">*</span></label>
                                        <input type="date" name="from-date">
                                    </div>
                                    <div class="wfp-u-1-3 wfp-box--flat">
                                        <label><span class="fill-data" for="to-date" data-content="labels.to"></span><span class="required-symbol">*</span></label>
                                        <input type="date" name="to-date">
                                    </div>
                                </div>
                            </div>
                            <div class="wfp-u-1 wfp-u-md-1-2 wfp-box--flat">
                                <label class="fill-data" for="officer-name" data-content="labels.officer"></label>
                                <select id="officer-name">
                                 <optgroup label="Filter by officer name">
                                    <option value="0" selected="">From everyone</option>
                                    <option disabled>──────────</option>
                                    <option value="1">Mario ROSSI</option>
                                    <option value="2">John SMITH</option>
                                 </optgroup>
                                </select>
                          </div>
                        </div>
                        <div class="wfp-form--actions">
                            <button class="wfp-btn wfp-btn--ghost btn-small">Clear</button>
                            <button class="wfp-btn wfp-btn--primary btn-medium">Filter</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        
        <!-- FILTER END -->

        <table rules="group" class="wfp-table">
            <thead>
                <tr>
                    <th><span class="fill-data" data-content="labels.request"></span> <i class="fa fa-fw fa-sort"></i></th>
                    <!--th><span class="fill-data" data-content="labels.submission_date"></span> <i class="fa fa-fw fa-sort"></i></th-->
                    <th><span class="fill-data" data-content="labels.history"></span> </th>
                    <th><span class="fill-data" data-content="labels.status"></span> <i class="fa fa-fw fa-sort"></i></th>
                    <th><span class="fill-data" data-content="labels.details"></span> </th>
                    <th class="table_cols_actions"><span class="fill-data" data-content="labels.action"></span> </th>
                </tr>
            </thead>
            <tbody class="fill-data-list" data-content="requests_latest" >
                <tr class="template">
                    <td>
                        
                        <div class="fill-data-list-item" data-content="request.type"></div>
                        <div class="fill-data-list-item" data-content="request.id"></div>
                    </td>
                    <!-- td class="fill-data-list-item" data-content="submission_date"></td-->
                    <td>
                        <ul class="fill-data-list-item" data-fill-mode="list" data-content="history">
                            <li class="template">
                                <div class="fill-data-list-item hist_date" data-content="date"></div>
                                <div class="fill-data-list-item" data-content="author"></div>
                                <div class="fill-data-list-item" data-content="message"></div>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <div class="fill-data-list-item status-widget" data-fill-attribute="data-steps|data-done|data-state|data-require_action|data-require_action_msg" data-content="status.steps|status.current|status.state|status.require_action|status.require_action_msg"></div>
                    </td>
                    <td>
                        <ul class="fill-data-list-item" data-fill-mode="list" data-content="details">
                            <li class="template">
                                <div class="fill-data-list-item" data-content="name"></div>
                                <div class="fill-data-list-item" data-content="value"></div>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <div class="fill-data-list-item" data-fill-mode="list" data-content="actions">
                            <div class="template">
                                <button class="wfp-btn btn-medium xsmall fill-data-list-item" data-fill-attribute="class" data-content="mode" ><span class=" fill-data-list-item"  data-content="name"></span></button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="wfp-pagination">
          <ol class="pagination--wrapper">
            <li class="pagination--item">
              <a href="#" class="pagination--btn">Previous</a>
            </li>
            <li class="pagination--item active">
              <span class="pagination--btn">1</span>
            </li>
            <li class="pagination--item">
              <a href="#" class="pagination--btn">2</a>
            </li>
            <li class="pagination--item">
              <a href="#" class="pagination--btn">3</a>
            </li>
            <li class="pagination--item ellipsis">
              <span class="pagination--btn ">&hellip;</span>
            </li>
            <li class="pagination--item">
              <a href="#" class="pagination--btn">Next</a>
            </li>
          </ol>
        </div>
    </section>
</div>