<div class="content">

    <ul class="wfp--breadcrumbs">
        <li class="wfp--breadcrumbs--home wfp--breadcrumbs--step"><a href="#"><i class="fa fa-fw fa-home"></i> <span class="fill-data" data-content="labels.home"></span></a></li>
        <li class="wfp--breadcrumbs--step"><span class="fill-data" data-content="labels.create_a_request"></span></li>
    </ul>


    <section>
        <h3><i class="fa fa-fw fa-clock-o"></i><span class="fill-data" data-content="labels.latest_forms_used"></span></h3>
        <div class="wfp-grid">
            <div class="fill-data-list wfp-grid wfp-u-1-1" data-content="latest_forms">

                <!-- REPEATER START -->
                <div class="wfp-u-1-2 wfp-grid wfp-form-description template">
                    <div class="wfp-u-1-12"></div>
                    <div class="wfp-u-10-12">
                        <div class="heading fill-data-list-item" data-content="heading"></div>
                        <div class="title"><a class="fill-data-list-item menuitem" data-target="content" data-action="page_my" data-content="ident" data-fill-attribute="data-action" href="#"><span class="fill-data-list-item" data-content="name"></span></a></div>
                        <div class="description fill-data-list-item" data-content="description"></div>
                    </div>
                </div>
                <!-- REPEATER END -->

            </div>
        </div>
    </section>
    
    <section>
        <div class="wfp-form-list selected-az">

            <div class="tab-selector">
                <span class="fill-data" data-content="labels.order_by"></span><a href="#" class="active"><span class="fill-data" data-content="labels.az"></span></a> | <a href="#"><span class="fill-data" data-content="labels.topics"></a>
            </div>

            <div class="wfp-form-list--az">
                
                <h3><i class="fa fa-fw fa-align-left"></i><span class="fill-data" data-content="labels.all_forms_az"></span></h3>
                
                <div class="wfp-grid">
                    <div class="fill-data-list wfp-grid wfp-u-1-1" data-content="formslist_by_az">

                    <!-- REPEATER START -->
                        <div class="wfp-u-1-2 wfp-grid wfp-form-description template">
                            <div class="wfp-u-1-12"></div>
                            <div class="wfp-u-10-12">
                                <div class="heading fill-data-list-item" data-content="heading"></div>
                                <div class="title"><a class="fill-data-list-item menuitem" data-target="content" data-action="page_my" data-content="ident" data-fill-attribute="data-action" href="#"><span class="fill-data-list-item" data-content="name"></span></a></div>
                                <div class="description fill-data-list-item" data-content="description"></div>
                            </div>
                        </div>
                    <!-- REPEATER END -->

                    </div>
                </div>

            </div>
            
            <div class="wfp-form-list--topics">
                
                <h3><i class="fa fa-fw fa-align-left"></i><span class="fill-data" data-content="labels.all_forms_topic"></span></h3>
                
                <div class="wfp-grid">
                    <div class="fill-data-list wfp-grid wfp-u-1-1" data-content="formslist_by_topics">

                    <!-- REPEATER START -->
                        <div class="wfp-u-1-2 wfp-grid wfp-form-description template">
                            <div class="wfp-u-1-12"></div>
                            <div class="wfp-u-10-12">
                                <div class="heading fill-data-list-item" data-content="heading"></div>
                                <div class="title"><a class="fill-data-list-item menuitem" data-target="content" data-action="page_my" data-content="ident" data-fill-attribute="data-action" href="#"><span class="fill-data-list-item" data-content="name"></span></a></div>
                                <div class="description fill-data-list-item" data-content="description"></div>
                            </div>
                        </div>
                    <!-- REPEATER END -->

                    </div>
                </div>

            </div>

        </div>

    </section>

</div>