<div class="content-search">
    <div class="closer pull-right"><i class="fa fa-fw fa-close"></i></div>
    <section class="wfp-grid wfp-form-list--latest" id="forms-latest">
        <h4 class="wfp-u-1-1"><i class="fa fa-fw fa-clock-o"></i> <span class="fill-data" data-content="labels.latest_forms_used"></span></h4>
        <div class="fill-data-list wfp-grid wfp-u-1-1" data-content="latest_forms">
            <div class="wfp-u-1-1 wfp-grid wfp-form-description template">
                <div class="wfp-u-1-12"></div>
                <div class="wfp-u-10-12">
                    <div class="heading fill-data-list-item" data-content="heading"></div>
                    <div class="title"><a class="fill-data-list-item" data-target="content" data-action="page_my" data-content="ident" data-fill-attribute="data-action" ><span class="fill-data-list-item" data-content="name"></span></a></div>
                    <div class="description fill-data-list-item" data-content="description"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="wfp-form-list--az" id="forms-filtered">
        
        <h4 class="wfp-u-1-1"><i class="fa fa-fw fa-align-left"></i><span class="fill-data" data-content="labels.filtered_forms"></span></h3>
        
        <div class="wfp-grid">
            <div class="fill-data-list wfp-grid wfp-u-1-1" data-content="filtered_by_search" data-list="refreshable">

            <!-- REPEATER START -->
                <div class="wfp-u-1-1 wfp-grid wfp-form-description template">
                    <div class="wfp-u-1-12"></div>
                    <div class="wfp-u-10-12">
                        <div class="heading fill-data-list-item" data-content="heading"></div>
                        <div class="title"><a class="fill-data-list-item menuitem" data-target="content" data-action="page_my" data-content="ident" data-fill-attribute="data-action" href="#"><span class="fill-data-list-item" data-content="name"></span></a></div>
                        <div class="description fill-data-list-item" data-content="description"></div>
                    </div>
                </div>
            <!-- REPEATER END -->

            </div>
        </div>

                
        <h4 class="wfp-u-1-1"><i class="fa fa-fw fa-question"></i><span class="fill-data" data-content="labels.filtered_howtos"></span></h3>
        
        <div class="wfp-grid">
            <div class="fill-data-list wfp-grid wfp-u-1-1" data-content="filtered_howtos" data-list="refreshable">

            <!-- REPEATER START -->
                <div class="wfp-u-1-1 wfp-grid wfp-form-description template">
                    <div class="wfp-u-1-12"></div>
                    <div class="wfp-u-10-12">
                        <div class="heading fill-data-list-item" data-content="heading"></div>
                        <div class="title"><a class="fill-data-list-item menuitem" data-target="content" data-action="page_my" data-content="ident" data-fill-attribute="data-action" href="#"><span class="fill-data-list-item" data-content="name"></span></a></div>
                        <div class="description fill-data-list-item" data-content="description"></div>
                    </div>
                </div>
            <!-- REPEATER END -->

            </div>
        </div>

            
        <h4 class="wfp-u-1-1"><i class="fa fa-fw fa-link"></i><span class="fill-data" data-content="labels.filtered_links"></span></h3>
        
        <div class="wfp-grid">
            <div class="fill-data-list wfp-grid wfp-u-1-1" data-content="filtered_links" data-list="refreshable">

            <!-- REPEATER START -->
                <div class="wfp-u-1-1 wfp-grid wfp-form-description template">
                    <div class="wfp-u-1-12"></div>
                    <div class="wfp-u-10-12">
                        <div class="heading fill-data-list-item" data-content="heading"></div>
                        <div class="title"><a class="fill-data-list-item menuitem" data-target="content" data-action="page_my" data-content="ident" data-fill-attribute="data-action" href="#"><span class="fill-data-list-item" data-content="name"></span></a></div>
                        <div class="description fill-data-list-item" data-content="description"></div>
                    </div>
                </div>
            <!-- REPEATER END -->

            </div>
        </div>

    </section>
</div>